node_modules
package-lock.json
yarn.lock

.env*

.DS_Store
.cache
.env
.vercel
.output
.nitro
.tanstack
.netlify
/build/
/api/
/server/build
/public/build# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/dist
